/* other display properties */

div {
  background-color: orange;
  margin: 10px;
  color: white;
  font-size: 1.3rem;
}

.none {
  display: none;
}

.opacity1 {
  opacity: 1;
}
.opacity5 {
  opacity: 0.5;
}
.opacity0 {
  opacity: 0;
}

.visibility {
  visibility: hidden;
}
