/* mobile nav bar */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar li {
  list-style-type: none;
}

.navbar li a {
  color: orange;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: #222;
  padding: 5px;
  display: block;
}
